.landlord-wrapper__container {
  background-color: #f7f9fc;

  .landlord-title {
    padding-top: 34px;
    color: #222634;
    font-family: $font-family-overpass;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
  }
}